@keyframes invertSeg1 {
  0%,100% {
    background: #EEE; }
  50% {
    background: #111; } }
@keyframes invertSeg2 {
  0%,100% {
    background: #DDD; }
  50% {
    background: #222; } }
@keyframes invertSeg3 {
  0%,100% {
    background: #CCC; }
  50% {
    background: #000; } }
@keyframes bombSeg1 {
  0%,100% {
    background: #d58080; }
  50% {
    background: #ead56a; } }
@keyframes bombSeg2 {
  0%,100% {
    background: #c85959; }
  50% {
    background: #e3c83e; } }
@keyframes bombSeg3 {
  0%,100% {
    background: #b33c3c; }
  50% {
    background: #d0b31e; } }
@keyframes bounceWhite {
  0% {
    transform: translateY(-40px); }
  25% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-40px); } }
@keyframes bounceSegWhite {
  0% {
    box-shadow: 0px 0px 15px 2px #FEFEFE; }
  25% {
    box-shadow: 0px 0px 15px 4px #FEFEFE; }
  75% {
    box-shadow: 0px 0px 5px 2px #FEFEFE; }
  100% {
    box-shadow: 0px 0px 15px 2px #FEFEFE; } }
@keyframes bounceBlack {
  0% {
    transform: translateY(-40px); }
  25% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-40px); } }
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }

.hex-grid {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -25px;
  margin-top: 170px;
  transition: transform 750ms, opacity 1000ms; }
  .hex-grid.hideLeft {
    opacity: 0;
    transform: scale(0.8) translateX(-1000px); }
  .hex-grid.hideRight {
    opacity: 0;
    transform: scale(0.8) translateX(1000px);
    transition: none; }

.even, .odd {
  height: 13em;
  display: flex;
  align-items: center; }

.odd {
  margin-top: -167px;
  margin-bottom: -167px; }

.hex {
  position: relative;
  margin-right: 45px;
  width: 100px;
  height: 100px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hex.hidden {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none; }
  .hex .seg {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(225deg);
    font-size: 2em;
    text-align: center;
    background: grey;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease-in-out; }
  .hex .scale {
    transform: scaleX(0.577); }
  .hex .diamond:first-child {
    transform: rotate(-30deg) translate(0px, 0px); }
    .hex .diamond:first-child .seg {
      background: #778; }
  .hex .diamond:nth-child(2) {
    transform: rotate(30deg) translate(10px, -128px); }
    .hex .diamond:nth-child(2) .seg {
      background: #888; }
  .hex .diamond:nth-child(3) {
    transform: rotate(90deg) translate(-273px, -36px); }
    .hex .diamond:nth-child(3) .seg {
      background: #99A; }
  .hex:hover .diamond .seg {
    border-color: #c88f96; }
  .hex.valid:hover {
    cursor: pointer; }
    .hex.valid:hover .diamond .seg {
      border-color: #93bf69; }
  .hex.white, .hex.black {
    transform: translateY(-40px); }
  .hex.white {
    animation: bounceWhite 500ms; }
    .hex.white .diamond .seg {
      color: black;
      border-color: white !important;
      animation: bounceSegWhite 500ms; }
    .hex.white .diamond:first-child .seg {
      background: #CCC; }
    .hex.white .diamond:nth-child(2) .seg {
      background: #DDD; }
    .hex.white .diamond:nth-child(3) .seg {
      background: #EEE; }
  .hex.black {
    animation: bounceBlack 500ms; }
    .hex.black .diamond .seg {
      color: white;
      border-color: #555 !important; }
    .hex.black .diamond:first-child .seg {
      background: #000; }
    .hex.black .diamond:nth-child(2) .seg {
      background: #222; }
    .hex.black .diamond:nth-child(3) .seg {
      background: #111; }
  .hex.invert.white .diamond .seg {
    border-color: #EEE !important; }
  .hex.invert.black .diamond .seg {
    border-color: #111 !important; }
  .hex.invert .diamond:first-child .seg {
    animation: invertSeg3 5s infinite; }
  .hex.invert .diamond:nth-child(2) .seg {
    animation: invertSeg2 5s infinite; }
  .hex.invert .diamond:nth-child(3) .seg {
    animation: invertSeg1 5s infinite; }
  .hex.bomb.white .diamond .seg {
    border-color: #EEE !important; }
  .hex.bomb.black .diamond .seg {
    border-color: #111 !important; }
  .hex.bomb .diamond:first-child .seg {
    animation: bombSeg3 5s infinite; }
  .hex.bomb .diamond:nth-child(2) .seg {
    animation: bombSeg2 5s infinite; }
  .hex.bomb .diamond:nth-child(3) .seg {
    animation: bombSeg1 5s infinite; }

main {
  background-image: linear-gradient(#325, #357);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center; }
  main .screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .screen[style*='display: block'] {
      display: flex !important; }
  main .start {
    display: flex;
    width: 50%;
    height: 100%;
    transform: scale(0.9);
    margin-left: 0;
    margin-top: 10px; }
    main .start .intro {
      margin-bottom: 0px;
      color: #ffffde;
      font-size: 10em;
      text-shadow: 0px 0px 20px rgba(255, 255, 222, 0.6);
      transform: translate(-110px, 100px) rotateX(55deg); }
      main .start .intro .angle1 {
        transform: rotate(-45deg); }
      main .start .intro .angle2 {
        transform: rotate(45deg) translate(44px, -310px); }
    main .start .hex.level1 .diamond:first-child .seg {
      background: #5888b8; }
    main .start .hex.level1 .diamond:nth-child(2) .seg {
      background: #7ca2c7; }
    main .start .hex.level1 .diamond:nth-child(3) .seg {
      background: #a0bbd6; }
    main .start .hex.level2 .diamond:first-child .seg {
      background: #5d94a2; }
    main .start .hex.level2 .diamond:nth-child(2) .seg {
      background: #7eaab4; }
    main .start .hex.level2 .diamond:nth-child(3) .seg {
      background: #9ebfc7; }
    main .start .hex.level3 .diamond:first-child .seg {
      background: #7db1a1; }
    main .start .hex.level3 .diamond:nth-child(2) .seg {
      background: #7db1a1; }
    main .start .hex.level3 .diamond:nth-child(3) .seg {
      background: #9dc4b8; }
    main .start .hex.level4 .diamond:first-child .seg {
      background: #7ab68b; }
    main .start .hex.level4 .diamond:nth-child(2) .seg {
      background: #7ab68b; }
    main .start .hex.level4 .diamond:nth-child(3) .seg {
      background: #9bc8a8; }
    main .start .hex.level5 .diamond:first-child .seg {
      background: #55aa55; }
    main .start .hex.level5 .diamond:nth-child(2) .seg {
      background: #77bb77; }
    main .start .hex.level5 .diamond:nth-child(3) .seg {
      background: #99cc99; }
    main .start .hex.level6 .diamond:first-child .seg {
      background: #7aab4a; }
    main .start .hex.level6 .diamond:nth-child(2) .seg {
      background: #93bf69; }
    main .start .hex.level6 .diamond:nth-child(3) .seg {
      background: #adce8d; }
    main .start .hex.level7 .diamond:first-child .seg {
      background: #b0c35d; }
    main .start .hex.level7 .diamond:nth-child(2) .seg {
      background: #b0c35d; }
    main .start .hex.level7 .diamond:nth-child(3) .seg {
      background: #c2d182; }
    main .start .hex.level8 .diamond:first-child .seg {
      background: #cac64f; }
    main .start .hex.level8 .diamond:nth-child(2) .seg {
      background: #cac64f; }
    main .start .hex.level8 .diamond:nth-child(3) .seg {
      background: #d6d376; }
    main .start .hex.level9 .diamond:first-child .seg {
      background: #d0b31e; }
    main .start .hex.level9 .diamond:nth-child(2) .seg {
      background: #e3c83e; }
    main .start .hex.level9 .diamond:nth-child(3) .seg {
      background: #ead56a; }
    main .start .hex.level10 .diamond:first-child .seg {
      background: #ca9625; }
    main .start .hex.level10 .diamond:nth-child(2) .seg {
      background: #ddad45; }
    main .start .hex.level10 .diamond:nth-child(3) .seg {
      background: #e5c070; }
    main .start .hex.level11 .diamond:first-child .seg {
      background: #d7924b; }
    main .start .hex.level11 .diamond:nth-child(2) .seg {
      background: #d7924b; }
    main .start .hex.level11 .diamond:nth-child(3) .seg {
      background: #e0ab75; }
    main .start .hex.level12 .diamond:first-child .seg {
      background: #cf7553; }
    main .start .hex.level12 .diamond:nth-child(2) .seg {
      background: #cf7553; }
    main .start .hex.level12 .diamond:nth-child(3) .seg {
      background: #da957b; }
    main .start .hex.level13 .diamond:first-child .seg {
      background: #b33c3c; }
    main .start .hex.level13 .diamond:nth-child(2) .seg {
      background: #c85959; }
    main .start .hex.level13 .diamond:nth-child(3) .seg {
      background: #d58080; }
    main .start .hex.level14 .diamond:first-child .seg {
      background: #a24f59; }
    main .start .hex.level14 .diamond:nth-child(2) .seg {
      background: #b76d76; }
    main .start .hex.level14 .diamond:nth-child(3) .seg {
      background: #c88f96; }
    main .start .hex.level15 .diamond:first-child .seg {
      background: #a68091; }
    main .start .hex.level15 .diamond:nth-child(2) .seg {
      background: #a68091; }
    main .start .hex.level15 .diamond:nth-child(3) .seg {
      background: #bb9eab; }
    main .start .hex.level16 .diamond:first-child .seg {
      background: #908fab; }
    main .start .hex.level16 .diamond:nth-child(2) .seg {
      background: #908fab; }
    main .start .hex.level16 .diamond:nth-child(3) .seg {
      background: #adacc1; }
    main .start .hex.hidden {
      opacity: 1; }
      main .start .hex.hidden .diamond:first-child .seg {
        background: #778; }
      main .start .hex.hidden .diamond:nth-child(2) .seg {
        background: #888; }
      main .start .hex.hidden .diamond:nth-child(3) .seg {
        background: #99A; }
    main .start .hex:hover.level {
      transform: translateY(-36px); }
    main .start .hex:hover .seg {
      color: black;
      border-color: white !important; }
    main .start .hex:hover:first-child .seg {
      background: #CCC; }
    main .start .hex:hover:nth-child(2) .seg {
      background: #DDD; }
    main .start .hex:hover:nth-child(3) .seg {
      background: #EEE; }
    main .start .seg {
      font-size: 1.2em; }
      main .start .seg h2 {
        color: white;
        transform: rotate(45deg);
        margin-left: 10px; }
  main .fireworks-container {
    display: none;
    position: fixed; }
    main .fireworks-container .fireworks {
      width: 250px;
      height: 250px;
      background-size: contain;
      background-repeat: no-repeat; }
      main .fireworks-container .fireworks.fireworks1 {
        background-image: url("../images/fireworks1.gif"); }
      main .fireworks-container .fireworks.fireworks2 {
        transform: scale(1.1) translate(-100px, -310px);
        background-image: url("../images/fireworks2.gif"); }
      main .fireworks-container .fireworks.fireworks3 {
        transform: scale(1.3) translate(100px, -400px);
        background-image: url("../images/fireworks3.gif"); }
  main .game {
    display: none;
    flex-direction: row;
    width: 70%;
    height: 90vh;
    transition: all 1000ms; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #A6A6A6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 1000ms; }
  footer.white {
    background: #EEE; }
  footer.black {
    background: #111; }
  footer .hex-scale {
    transform: scale(0.6) translateY(-40px); }
    footer .hex-scale .white, footer .hex-scale .black {
      animation: none; }
  footer .left {
    display: flex;
    justify-content: flex-start; }
    footer .left button {
      font-size: 3em;
      padding: 5px;
      margin: 5px;
      width: 70px;
      border: 2px solid #111;
      background-color: #A6A6A6;
      outline: 0;
      border-radius: 4px; }
      footer .left button:hover {
        background-color: #DDD; }
  footer .two-player i:first-child {
    color: white; }
  footer .two-player i:last-child {
    color: black; }

/*# sourceMappingURL=style.css.map */
