@keyframes bounceWhite {
  0% {
    transform: translateY(-40px); }
  25% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-40px); } }
@keyframes bounceSegWhite {
  0% {
    box-shadow: 0px 0px 15px 2px #FEFEFE; }
  25% {
    box-shadow: 0px 0px 15px 4px #FEFEFE; }
  75% {
    box-shadow: 0px 0px 5px 2px #FEFEFE; }
  100% {
    box-shadow: 0px 0px 15px 2px #FEFEFE; } }
@keyframes bounceBlack {
  0% {
    transform: translateY(-40px); }
  25% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-40px); } }
body {
  font-family: 'Roboto', sans-serif; }

.hex-grid {
  width: 100%;
  transform: scale(0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-left: -20px;
  margin-top: 170px; }
  .hex-grid.start {
    transform: scale(1);
    margin-left: 0;
    margin-top: 140px; }

.even, .odd {
  height: 13em;
  display: flex;
  align-items: center; }

.odd {
  margin-top: -167px;
  margin-bottom: -167px; }

.hex {
  position: relative;
  margin-right: 45px;
  width: 100px;
  height: 100px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hex.hidden {
    opacity: 0; }
  .hex .seg {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(225deg);
    font-size: 2em;
    text-align: center;
    background: grey;
    border: 2px solid #DDD;
    transition: all 500ms ease-in-out; }
  .hex .scale {
    transform: scaleX(0.577); }
  .hex .diamond:first-child {
    transform: rotate(-30deg) translate(0px, 0px); }
    .hex .diamond:first-child .seg {
      background: #778; }
  .hex .diamond:nth-child(2) {
    transform: rotate(30deg) translate(10px, -127px); }
    .hex .diamond:nth-child(2) .seg {
      background: #888; }
  .hex .diamond:nth-child(3) {
    transform: rotate(90deg) translate(-273px, -36px); }
    .hex .diamond:nth-child(3) .seg {
      background: #99A; }
  .hex:hover .diamond:first-child .seg {
    border-color: #800; }
  .hex:hover .diamond:nth-child(2) .seg {
    border-color: #700; }
  .hex:hover .diamond:nth-child(3) .seg {
    border-color: #600; }
  .hex.valid:hover {
    cursor: pointer; }
    .hex.valid:hover .diamond:first-child .seg {
      border-color: #070; }
    .hex.valid:hover .diamond:nth-child(2) .seg {
      border-color: #060; }
    .hex.valid:hover .diamond:nth-child(3) .seg {
      border-color: #050; }
  .hex.white {
    transform: translateY(-40px);
    animation: bounceWhite 500ms; }
    .hex.white .diamond .seg {
      color: black;
      border-color: white !important;
      box-shadow: 0px 0px 15px 2px #FEFEFE;
      animation: bounceSegWhite 500ms; }
    .hex.white .diamond:first-child .seg {
      background: #CCC; }
    .hex.white .diamond:nth-child(2) .seg {
      background: #DDD; }
    .hex.white .diamond:nth-child(3) .seg {
      background: #EEE; }
  .hex.black {
    transform: translateY(-40px);
    animation: bounceBlack 500ms; }
    .hex.black .diamond .seg {
      color: white;
      border-color: #555 !important; }
    .hex.black .diamond:first-child .seg {
      background: #000; }
    .hex.black .diamond:nth-child(2) .seg {
      background: #222; }
    .hex.black .diamond:nth-child(3) .seg {
      background: #111; }
  .hex.invert.white, .hex.invert.black {
    transform: translateY(-40px);
    animation: bounceBlack 500ms; }
  .hex.invert.white .diamond .seg {
    color: white;
    border-color: white !important; }
  .hex.invert.white .diamond:first-child .seg {
    background: #EFE; }
  .hex.invert.white .diamond:nth-child(2) .seg {
    background: #DED; }
  .hex.invert.white .diamond:nth-child(3) .seg {
    background: #CDC; }
  .hex.invert.black .diamond .seg {
    color: white;
    border-color: white !important; }
  .hex.invert.black .diamond:first-child .seg {
    background: #252; }
  .hex.invert.black .diamond:nth-child(2) .seg {
    background: #141; }
  .hex.invert.black .diamond:nth-child(3) .seg {
    background: #030; }
  .hex.invert .diamond .seg {
    color: white;
    border-color: white !important; }
  .hex.invert .diamond:first-child .seg {
    background: #070; }
  .hex.invert .diamond:nth-child(2) .seg {
    background: #060; }
  .hex.invert .diamond:nth-child(3) .seg {
    background: #050; }

body {
  margin: 0; }

main {
  background-image: linear-gradient(#325, #357);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center; }
  main .screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .screen[style*='display: block'] {
      display: flex !important; }
  main .start {
    display: flex;
    width: 50%;
    height: 75%; }
    main .start .intro {
      margin-bottom: 100px; }
    main .start .hex .seg {
      color: black;
      border-color: white !important; }
    main .start .hex.level1:first-child .seg {
      background: #142230; }
    main .start .hex.level1:nth-child(2) .seg {
      background: #243c53; }
    main .start .hex.level1:nth-child(3) .seg {
      background: #357; }
    main .start .hex.level2:first-child .seg {
      background: #335577; }
    main .start .hex.level2:nth-child(2) .seg {
      background: #426f9b; }
    main .start .hex.level2:nth-child(3) .seg {
      background: #5888b8; }
    main .start .hex.level3:first-child .seg {
      background: #7ca2c7; }
    main .start .hex.level3:nth-child(2) .seg {
      background: #7ca2c7; }
    main .start .hex.level3:nth-child(3) .seg {
      background: #a0bbd6; }
    main .start .hex.level4:first-child .seg {
      background: #c4d5e6; }
    main .start .hex.level4:nth-child(2) .seg {
      background: #c4d5e6; }
    main .start .hex.level4:nth-child(3) .seg {
      background: #e7eef5; }
    main .start .hex:hover.settingsButton, main .start .hex:hover.startButton, main .start .hex:hover.startButtonSingle {
      transform: translateY(-40px); }
    main .start .hex:hover .seg {
      color: black;
      border-color: white !important; }
    main .start .hex:hover:first-child .seg {
      background: #CCC; }
    main .start .hex:hover:nth-child(2) .seg {
      background: #DDD; }
    main .start .hex:hover:nth-child(3) .seg {
      background: #EEE; }
    main .start .seg {
      font-size: 1.2em; }
      main .start .seg h2 {
        color: white;
        transform: rotate(45deg);
        margin-left: 10px; }
  main .settings {
    background-color: orange; }
    main .settings .form {
      text-align: justify; }
  main .game {
    display: none;
    flex-direction: row;
    width: 70%;
    height: 90vh; }
    main .game .info {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px; }
      main .game .info h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
        color: #111111;
        border: 2px solid #111111;
        background-color: #A6A6A6; }
      main .game .info .turn {
        font-size: 1.5em;
        text-align: center;
        color: #FEFEFE;
        border: 2px solid #FEFEFE;
        background-color: #111111; }
      main .game .info .scores {
        font-size: 1em;
        text-align: center;
        color: #111111;
        border: 2px solid #111111;
        background-color: #FEFEFE; }
      main .game .info .message {
        font-size: 1em;
        text-align: center;
        color: #111111;
        border: 2px solid #111111;
        background-color: #FEFEFE;
        min-height: 1em; }
      main .game .info .options {
        display: flex;
        justify-content: space-around; }
      main .game .info .undoRedo {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 70%;
        width: auto;
        padding-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
