$color: dodgerblue;
$black: #111111;
$white: #FEFEFE;
$grey: #A6A6A6;

$hex-size:100px;
$anim-time: 500ms;

$grey1:#99A;
$grey2:#888;
$grey3:#778;

$white1:#EEE;
$white2:#DDD;
$white3:#CCC;

$black1:#111;
$black2:#222;
$black3:#000;

$blue1:#357;
$blue2:#EEF;
$blue3:#325;


// $white1:$black;
// $white2:$grey;
// $white3:$white;
//
// $black1:$grey;
// $black2:$white;
// $black3:$black;
$green1:#070;
$green2:#060;
$green3:#050;

$valid1:$green1;
$valid2:$green2;
$valid3:$green3;


$invert1:$green1;
$invert2:$green2;
$invert3:$green3;

$invert-white1:#EFE;
$invert-white2:#DED;
$invert-white3:#CDC;

$invert-black1:#252;
$invert-black2:#141;
$invert-black3:#030;

$in-valid1:#800;
$in-valid2:#700;
$in-valid3:#600;
