$color: dodgerblue;
$black: #111111;
$white: #FEFEFE;
$grey: #A6A6A6;

$hex-size:100px;

$grey1:#555;
$grey2:#666;
$grey3:#777;

$white1:#EEE;
$white2:#DDD;
$white3:#CCC;

$black1:#222;
$black2:#111;
$black3:#000;

// $white1:$black;
// $white2:$grey;
// $white3:$white;
//
// $black1:$grey;
// $black2:$white;
// $black3:$black;

$valid1:#070;
$valid2:#060;
$valid3:#050;

$in-valid1:#800;
$in-valid2:#700;
$in-valid3:#600;
