$color: dodgerblue;
$black: #111111;
$white: #FEFEFE;
$grey: #A6A6A6;

$hex-size:100px;
$anim-time: 500ms;

$intro-colour:rgba(255,255,222,1);
$intro-colour-trans:rgba($intro-colour,0.6);

$game-scale: 0.8;

$grey1:#99A;
$grey2:#888;
$grey3:#778;

$white1:#EEE;
$white2:#DDD;
$white3:#CCC;

$black1:#111;
$black2:#222;
$black3:#000;

$bg-blue1:#357;
$bg-blue2:#325;


$blue-base:#357;
$green-base:#363;
$yellow-base:#761;
$red-base:#622;

$green1:lighten( $green-base, 40% );
$yellow1:lighten( $yellow-base, 40% );
$red1:lighten( $red-base, 40% );
$blue1:lighten( $blue-base, 40% );


$blue2:darken( $blue1, 10% );
$blue3:darken( $blue1, 20% );


$blue4: mix($blue1, $green1,75);
$blue5:darken($blue4, 10% );
$blue6:darken( $blue4, 20% );


$blue7: mix($blue1, $green1,50);
$blue8:darken($blue7, 10% );
$blue9:darken($blue7, 10% );


$blue10: mix($blue1, $green1,25);
$blue11:darken($blue10, 10% );
$blue12:darken($blue10, 10% );


$green2:darken( $green1, 10% );
$green3:darken( $green1, 20% );

$green4:mix($green1, $yellow1,75);
$green5:darken($green4, 10% );
$green6:darken( $green4, 20% );

$green7:mix($green1, $yellow1,50);
$green8:darken($green7, 10% );
$green9:darken($green7, 10% );

$green10:mix($green1, $yellow1,25);
$green11:darken($green10, 10% );
$green12:darken($green10, 10% );


$yellow2:darken( $yellow1, 10% );
$yellow3:darken( $yellow1, 20% );

$yellow4:mix($yellow1, $red1,75);
$yellow5:darken($yellow4, 10% );
$yellow6:darken( $yellow4, 20% );

$yellow7:mix($yellow1, $red1,50);
$yellow8:darken($yellow7, 10% );
$yellow9:darken($yellow7, 10% );

$yellow10:mix($yellow1, $red1,25);
$yellow11:darken($yellow10, 10% );
$yellow12:darken($yellow10, 10% );


$red2:darken( $red1, 10% );
$red3:darken( $red1, 20% );

$red4:mix($red1, $blue1,75);
$red5:darken($red4, 10% );
$red6:darken( $red4, 20% );

$red7:mix($red1, $blue1,50);
$red8:darken($red7, 10% );
$red9:darken($red7, 10% );

$red10:mix($red1, $blue1,25);
$red11:darken($red10, 10% );
$red12:darken($red10, 10% );




// $white1:$black;
// $white2:$grey;
// $white3:$white;
//
// $black1:$grey;
// $black2:$white;
// $black3:$black;
// $green1:#070;
// $green2:#060;
// $green3:#050;

$valid1:$green5;
$in-valid1:$red4;



$invert1:$green1;
$invert2:$green2;
$invert3:$green3;

$invert-white1:#EFE;
$invert-white2:#DED;
$invert-white3:#CDC;

$invert-black1:#252;
$invert-black2:#141;
$invert-black3:#030;

$bomb1:$blue1;
$bomb2:$blue2;
$bomb3:$blue3;

$bomb-white1:lighten( $bomb1, 50% );
$bomb-white2:lighten( $bomb1, 60% );
$bomb-white3:lighten( $bomb1, 70% );

$bomb-black1:darken( $bomb1, 0% );
$bomb-black2:darken( $bomb1, 10% );
$bomb-black3:darken( $bomb1, 20% );
