@import '_vars';

@keyframes bounceWhite{
  0%{transform: translateY(-40px);}
  25%{transform: translateY(-50px);}
  75%{transform: translateY(-30px);}
  100%{transform: translateY(-40px);}
}
@keyframes bounceBlack{
  0%{transform: translateY(-40px);}
  25%{transform: translateY(-50px);}
  75%{transform: translateY(-30px);}
  100%{transform: translateY(-40px);}
}

.hex-grid{
  // background: grey;
  width: 100%;
  transform: scale(0.6);
  margin-left: 100px;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.even, .odd{
  height: 13em;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  // display: block;
  // list-style-type: decimal;
  // margin-block-start: 1em;
  // margin-block-end: 1em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // padding-inline-start: 40px;
}
.even{
  // position: relative;
  /* background: yellow; */
  // margin-left: 86px;
}

.odd{
  // position: relative;
  /* background: red; */
  // margin-top: -82px;
  // margin-bottom: -82px;
  margin-top: -167px;
  margin-bottom: -167px;
}

// .hex{
//   position: relative;
//   margin-right: 42px;
//   right: -12px;
//   width: 62px;
//   height: 100px;
//   border-radius: 5px;
//   background: #ccc;
//   transform: rotate(-90deg);
//   transition: all 150ms ease-in-out;
//   &:hover{
//     cursor:pointer;
//     background:red;
//
//   }
//   &.valid{
//     &:hover{
//       background:green;
//     }
//   }
//   &.white{
//     background:$white;
//   }
//   &.black{
//     background:$black;
//   }
//
//   &::before, &::after{
//     display: inline-block;
//     position: relative;
//     width:inherit; height:inherit;
//     border-radius: inherit;
//     background: inherit;
//     content: '';
//   }
//   &::before{
//     transform: rotate(60deg);
//     // background: red;
//   }
//   &::after{
//     // right:-70pxx
//     top:-104px;
//     transform: rotate(-60deg);
//     // background: yellow;
//     //translate(151px, -88px)
//   }
//
//
// }
.hex{
  position: relative;
  margin-right: 45px;
  width: 100px;
  height: 100px;

  transform: rotate(0deg);


  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);



  .seg{
    position: relative;
    width:100px;
    height:100px;
    transform:rotate(225deg);
    font-size: 2em;
    text-align: center;

    background: grey;
    border: 2px solid white;
    transition: all 250ms ease-in-out;

  }
  .scale{
    transform:scaleX(0.577);

  }
  .rotate2{

    &:first-child{
      transform: rotate(-30deg) translate(0px,0px);
      .seg{background: $grey1;}
    }
    &:nth-child(2){
      transform: rotate(30deg)translate(10px,-127px);
      .seg{background: $grey2;}
    }
    &:nth-child(3){
      transform: rotate(90deg)translate(-273px,-36px);
      .seg{background: $grey3;}
    }
  }


  &:hover{
    cursor:pointer;
    // background:red;
    .rotate2{
      // background:$white;
      &:first-child{
        .seg{border-color: $in-valid1;}
      }
      &:nth-child(2){
        .seg{border-color: $in-valid2;}
      }
      &:nth-child(3){
        .seg{border-color: $in-valid3;}
      }
    }

  }
  &.valid{
    &:hover{
      // background:green;
      .rotate2{
        // background:$white;
        &:first-child{
          .seg{border-color: $valid1;}
        }
        &:nth-child(2){
          .seg{border-color: $valid2;}
        }
        &:nth-child(3){
          .seg{border-color: $valid3;}
        }
      }
    }
  }

  &.white{
    // transform: rotate(240deg)translate(32px,100px);
    transform: translateY(-40px);
    animation: bounceWhite 250ms;
    .rotate2{
      // background:$white;
      &:first-child{
        .seg{background: $white1;}
      }
      &:nth-child(2){
        .seg{background: $white2;}
      }
      &:nth-child(3){
        .seg{background: $white3;}
      }
    }
  }
  &.black{
    // transform: rotate(120deg)translate(-143px,40px);
    transform: translateY(-40px);
    animation: bounceBlack 250ms;
    .rotate2{
      // background:$black;
      &:first-child{
        .seg{
          border-color: white;
          background: $black1;
        }
      }
      &:nth-child(2){
        .seg{
          border-color: white;
          background: $black2;
        }
      }
      &:nth-child(3){
        .seg{
          color: white;
          border-color: white;
          background: $black3;
        }
      }
    }
  }

  // &::before, &::after{
  //   display: inline-block;
  //   position: absolute;
  //   width:inherit; height:inherit;
  //   border-radius: inherit;
  //   background: inherit;
  //   content: '';
  // }
  // &::before{
  //   // transform: rotate(90deg);
  //   transform-origin: top left;
  //   // transform: translateX(-50px) scaleY(-1);
  //   background: red;
  // }
  // &::after{
  //   transform:  skewX(0deg) rotateZ(0deg) rotateY(0deg) scaleX(-1);
  //   transform-origin: bottom right;
  //   // right:-70pxx
  //   // top:-104px;
  //   // transform: rotate(-60deg);
  //   background: yellow;
  //   //translate(151px, -88px)
  // }


}


body{
  margin:0;
}
main {
  background-color: $grey1;
  display:flex;
  width: 100%;
  height:100vh;
  align-items: center;
  justify-content: center;

  .screen{
    display:none;
    &[style*='display: block']{
      display: flex !important;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .start{
    display: flex;
    background-color: yellow;
  }
  .settings{
    background-color: orange;
    .form{
      text-align:justify;
    }
  }
  .game{

    display:none;
    flex-direction: row;
    // background-color: yellow;
    width: 70%;
    height: 90vh;
    // .board{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 70%;
    //   .grid{
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items:center;
    //     background-color: red;
    //     width:600px;
    //     height:600px;
    //     .tile{
    //       margin:2px;
    //       width: 11%;
    //       height: 11%;
    //       border: 1px solid black;
    //       text-align: center;
    //
    //
    //       &.square{
    //
    //       }
    //
    //       @keyframes flipBlack {
    //         from {
    //           transform: scaleX(-1);
    //         }
    //         to {
    //           transform: scaleX(1);
    //         }
    //
    //       }
    //       @keyframes flipWhite {
    //         from {
    //           transform: scaleX(1);
    //         }
    //         to {
    //
    //           transform: scaleX(-1);
    //         }
    //
    //       }
    //       .rotate{
    //         height:100%;
    //         width:100%;
    //         transform: rotate(30deg);
    //       }
    //       .counter{
    //         height:100%;
    //         width:100%;
    //         border-radius: 100%;
    //       }
    //
    //       &.black{
    //         .counter{
    //           color:$white;
    //           background-color: $black;
    //           animation: flipBlack 0.5s;
    //         }
    //
    //       }
    //
    //       &.white{
    //         .counter{
    //           color:$black;
    //           background-color: $white;
    //           animation: flipWhite 0.5s;
    //         }
    //
    //
    //       }
    //
    //       &.valid{
    //         border: 1px solid blue;
    //       }
    //     }
    //   }
    // }
    .info{
      // background-color: green;
      width:30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $grey;
      }
      .turn{
        font-size: 1.5em;
        text-align: center;
        color: $white;
        border: 2px solid $white;
        background-color: $black;
      }
      .scores{
        font-size: 1em;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $white;
      }
      .message{
        font-size: 1em;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $white;
        min-height: 1em;
      }
      .options{
        display: flex;
        justify-content: space-around;
      }
      .undoRedo{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 70%;
        width: auto;
        // background-color: orange;
        padding-bottom: 20px;
      }
    }
  }
}
