@import '_vars';

// @keyframes hexHide{
//   0%{
//     transform: translateY(-40px);
//   }
//   25%{
//     transform: translateY(0px);
//   }
//   75%{
//     transform: translateY(0px);
//   }
//   100%{
//     transform: translateY(-40px);
//   }
// }
@keyframes bounceWhite{
  0%{
    transform: translateY(-40px);
  }
  25%{
    transform: translateY(-50px);
  }
  75%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(-40px);
  }
}
@keyframes bounceSegWhite{
  0%{
    box-shadow: 0px 0px 15px 2px $white;
  }
  25%{
    box-shadow: 0px 0px 15px 4px $white;
  }
  75%{
    box-shadow: 0px 0px 5px 2px $white;
  }
  100%{
    box-shadow: 0px 0px 15px 2px $white;
  }
}
@keyframes bounceBlack{
  0%{transform: translateY(-40px);}
  25%{transform: translateY(-50px);}
  75%{transform: translateY(-30px);}
  100%{transform: translateY(-40px);}
}

body{
  font-family: 'Roboto', sans-serif;
}

.hex-grid{
  width: 100%;
  transform: scale(0.6);
  // margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all $anim-time cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-left: -20px;
  margin-top: 170px;
  &.start{
    transform: scale(1);
    margin-left: 0;
    margin-top: 140px;
    // margin-top: 250px;
  }
}

.even, .odd{
  height: 13em;
  display: flex;
  align-items: center;
}
.even{

}

.odd{
  margin-top: -167px;
  margin-bottom: -167px;
}

.hex{
  position: relative;
  margin-right: 45px;
  width: 100px;
  height: 100px;

  // transform: rotate(0deg);


  transition: all $anim-time cubic-bezier(0.68, -0.55, 0.265, 1.55);
  // transition: transform 2000ms;

  &.level1,&.level2,&.level3{

  }
  &.hidden{
    opacity: 0;
  }



  .seg{
    position: relative;
    width:100px;
    height:100px;
    transform:rotate(225deg);
    font-size: 2em;
    text-align: center;

    background: grey;
    border: 2px solid #DDD;
    transition: all $anim-time ease-in-out;


  }
  .scale{
    transform:scaleX(0.577);

  }
  .diamond{

    &:first-child{
      transform: rotate(-30deg) translate(0px,0px);
      .seg{background: $grey3;}
    }
    &:nth-child(2){
      transform: rotate(30deg)translate(10px,-127px);
      .seg{background: $grey2;}
    }
    &:nth-child(3){
      transform: rotate(90deg)translate(-273px,-36px);
      .seg{background: $grey1;}
    }
  }


  &:hover{

    &.white, &.black{
      // pointer-events: none;
      // animation: hexHide 2000ms;
      // transform: translate(0px);

      // opacity: 0.5;
    }
    // background:red;
    .diamond{
      // background:$white;
      &:first-child{
        .seg{border-color: $in-valid1;}
      }
      &:nth-child(2){
        .seg{border-color: $in-valid2;}
      }
      &:nth-child(3){
        .seg{border-color: $in-valid3;}
      }
    }

  }
  &.valid{
    &:hover{
      cursor:pointer;
      // background:green;
      .diamond{
        // background:$white;
        &:first-child{
          .seg{border-color: $valid1;}
        }
        &:nth-child(2){
          .seg{border-color: $valid2;}
        }
        &:nth-child(3){
          .seg{border-color: $valid3;}
        }
      }
    }
  }

  &.white{
    // transform: rotate(240deg)translate(32px,100px);
    transform: translateY(-40px);
    animation: bounceWhite $anim-time;

    .diamond{
      // background:$white;
      .seg{
        color: black;
        border-color: white !important;
        box-shadow: 0px 0px 15px 2px $white;
        animation: bounceSegWhite $anim-time;
      }
      &:first-child{
        .seg{background: $white3;}
      }
      &:nth-child(2){
        .seg{background: $white2;}
      }
      &:nth-child(3){
        .seg{background: $white1;}
      }
    }
  }
  &.black{
    // transform: rotate(120deg)translate(-143px,40px);
    transform: translateY(-40px);
    animation: bounceBlack $anim-time;
    .diamond{
      // background:$black;
      .seg{
        color: white;
        border-color: #555 !important;
      }
      &:first-child{
        .seg{
          background: $black3;
        }
      }
      &:nth-child(2){
        .seg{
          background: $black2;
        }
      }
      &:nth-child(3){
        .seg{
          background: $black1;
        }
      }
    }
  }
  &.invert{
    // transform: rotate(120deg)translate(-143px,40px);
    &.white, &.black{

      transform: translateY(-40px);
      animation: bounceBlack $anim-time;
      // .seg{
      //   background: $invert1 !important;
      // }

    }
    &.white{
      .diamond{
        // background:$black;
        .seg{
          color: white;
          border-color: white !important;
        }
        &:first-child{
          .seg{
            background: $invert-white1;
          }
        }
        &:nth-child(2){
          .seg{
            background: $invert-white2;
          }
        }
        &:nth-child(3){
          .seg{
            background: $invert-white3;
          }
        }
      }
    }
    &.black{
      .diamond{
        // background:$black;
        .seg{
          color: white;
          border-color: white !important;
        }
        &:first-child{
          .seg{
            background: $invert-black1;
          }
        }
        &:nth-child(2){
          .seg{
            background: $invert-black2;
          }
        }
        &:nth-child(3){
          .seg{
            background: $invert-black3;
          }
        }
      }
    }
    .diamond{
      // background:$black;
      .seg{
        color: white;
        border-color: white !important;
      }
      &:first-child{
        .seg{
          background: $invert1;
        }
      }
      &:nth-child(2){
        .seg{
          background: $invert2;
        }
      }
      &:nth-child(3){
        .seg{
          background: $invert3;
        }
      }
    }
  }

  // &::before, &::after{
  //   display: inline-block;
  //   position: absolute;
  //   width:inherit; height:inherit;
  //   border-radius: inherit;
  //   background: inherit;
  //   content: '';
  // }
  // &::before{
  //   // transform: rotate(90deg);
  //   transform-origin: top left;
  //   // transform: translateX(-50px) scaleY(-1);
  //   background: red;
  // }
  // &::after{
  //   transform:  skewX(0deg) rotateZ(0deg) rotateY(0deg) scaleX(-1);
  //   transform-origin: bottom right;
  //   // right:-70pxx
  //   // top:-104px;
  //   // transform: rotate(-60deg);
  //   background: yellow;
  //   //translate(151px, -88px)
  // }


}


body{
  margin:0;
}
main {
  // background-color: $grey1;
  background-image: linear-gradient($bg-blue2, $bg-blue1);
   // background-image: url("../images/landscape.jpg");
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size:cover;
  display:flex;
  width: 100%;
  height:100vh;
  align-items: center;
  justify-content: center;

  .screen{
    display:none;
    &[style*='display: block']{
      display: flex !important;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .start{
    display: flex;
    width:50%;
    height:75%;
    // background-color: $grey1;
    .intro{
      margin-bottom:100px;
    }
    .odd{
      // margin-top: 0px;
      // margin-bottom: -166px;
    }
    .hex{
      .seg{
        color: black;
        border-color: white !important;
      }
      &.level1{
        &:first-child{.seg{background: $blue3;}}
        &:nth-child(2){.seg{background: $blue2;}}
        &:nth-child(3){.seg{background: $blue1;}}
      }
      &.level2{
        &:first-child{.seg{background: $blue6;}}
        &:nth-child(2){.seg{background: $blue5;}}
        &:nth-child(3){.seg{background: $blue4;}}
      }
      &.level3{
        &:first-child{.seg{background: $blue9;}}
        &:nth-child(2){.seg{background: $blue8;}}
        &:nth-child(3){.seg{background: $blue7;}}
      }
      &.level4{
        &:first-child{.seg{background: $blue12;}}
        &:nth-child(2){.seg{background: $blue11;}}
        &:nth-child(3){.seg{background: $blue10;}}
      }
      &:hover{
        &.settingsButton, &.startButton, &.startButtonSingle{
          transform: translateY(-40px);
        }
        .seg{
          color: black;
          border-color: white !important;
        }
        &:first-child{
          .seg{background: $white3;}
        }
        &:nth-child(2){
          .seg{background: $white2;}
        }
        &:nth-child(3){
          .seg{background: $white1;}
        }
      }
    }
    // .diamond{
      // background:$white;

    // }
    .seg{
      font-size: 1.2em;
      h2{
        color:white;
        transform: rotate(45deg);
        margin-left:10px;
        // margin-top:-4px;
      }
    }
  }
  .settings{
    background-color: orange;
    .form{
      text-align:justify;
    }
  }
  .game{

    display:none;
    flex-direction: row;
    // background-color: yellow;
    width: 70%;
    height: 90vh;

    .info{
      // background-color: green;
      width:30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      h1 {
        font-size: 2em;
        margin: 0;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $grey;
      }
      .turn{
        font-size: 1.5em;
        text-align: center;
        color: $white;
        border: 2px solid $white;
        background-color: $black;
      }
      .scores{
        font-size: 1em;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $white;
      }
      .message{
        font-size: 1em;
        text-align: center;
        color: $black;
        border: 2px solid $black;
        background-color: $white;
        min-height: 1em;
      }
      .options{
        display: flex;
        justify-content: space-around;
      }
      .undoRedo{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 70%;
        width: auto;
        // background-color: orange;
        padding-bottom: 20px;
      }
    }
  }
}
